.input-grow {
    transition: 0.2s;
    &:hover, &focus {
        transform: scale(1.1);
    }
}

input[type="radio"] {
  display: none;
  &:active+.radio-label {
    background-color: cornflowerblue;
}
}

.radio-label {
    &:hover {
        background-color: darkcyan;
    }  
}

.radio-label-active {
    background-color: cornflowerblue;
}



