<header class="bg-dark">
    <div class="container d-flex p-2">
        <div class="row">
            <div class="col-1 p-1">
                <img class="img-fluid " src="assets/musical-note.png"/>
            </div>
            <div class="col-11">
                <div class="row">
                    <div class="col-md col-sm-12 float-left">
                        <h1 class="display-3 text-white">KenjoMusic</h1>
                    </div>
                    <div class="col-md col-sm-12 align-self-center d-flex">
                        <div class="row p-1 w-100 justify-content-end">
                            <div class="col float-right">
                                <button class="btn text-white btn-lg btn-add btn-image">
                                    <img src="assets/add.svg" />
                                    New Album
                                </button>
                            </div>
                            <div class="col float-right">
                                <button class="btn text-white btn-lg btn-add btn-image">
                                    <img src="assets/add.svg" />
                                    New Artist
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</header>
