.musical-card {
  max-width: 350px;
  height: 350px;
  overflow:hidden;
  cursor: pointer;
}
.zoom {
    transition: transform .2s;
  }
  
.zoom:hover {
    transform: scale(1.1);
}

.card-image {
  height: 90%;
  width: auto;
}